.descriptionBox{
    margin: 100px;
}
.descriptionBox-navigator{
    display: flex;
}
.descriptionBox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #d0d0d0;
    height: 70px;
    width: 171px;
}
.arrow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.arrow-icon {
  font-size: 40px;
  color: #28a745;
  animation: bounce 1.2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(12px);
  }
}
.descriptionBox-nav-box.fade{
    color: #555;
    background-color: #fbfbfb;
}
.descriptionBox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 48px;
    padding-bottom:70px ;
    border: 1px solid #d0d0d0;

}
@media(max-width:1280px){
    .descriptionBox{
        margin: 60px;
    }
}
@media(max-width:800px){
    .descriptionBox{
        margin: 60px 20px;
    }
    .descriptionBox-description{
        font-size: 14px;
    }
}