.offer {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);

  margin: 80px 0;
}
.slider-img {
  height: 450px;
  object-fit: cover;
}
.carousel-indicators {
  bottom: -45px !important; /* نزّلها تحت الصورة */
}
.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%  !important;
  background-color: #999 !important; /* رمادي */
  margin: 0 6px !important;
  border: none  !important;
  opacity: 1 !important;
}

.carousel-indicators .active {
  background-color: #28a745 !important; /* أخضر */
  width: 14px !important;
  height: 14px !important;
}
